.transactionhistory{
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px,
rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}
.tablethead{
    background-color: rgb(152, 152, 246);
}
.tablename{
    padding: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
}
.tr{ 
    text-align: center;
}
.tr:nth-child(2n){
    background-color:  rgb(188, 188, 239);
   
}
